%h1 Week View

.well
  Displaying facts from
  %strong= l(@week_start.to_date, format: :with_day_name)
  to
  %strong= l(@week_end.to_date, format: :with_day_name)

.well
  %h4 Projects
  = render 'grouped_by_activity', facts: @facts

  %h4 Total
  = render_minutes(@facts.inject(0) {|sum, f| sum + f.duration_in_minutes }).join(':')

%table#js-facts-table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th
        id
      %th
        activity
      %th
        description & tags
      %th
        time
      %th
        duration
      %th
        action
  %tbody
    - @facts.group_by{|f| f.start_time.to_date }.each do |day, facts| # day
      %tr{data: {day: day}}
        %td{colspan: 6}
          = l(day, format: :with_day_name)
      - facts.each do |fact|
        %tr{class: ("success" if fact.exported?), data: {day: day}}
          %td
            = fact.id
          %td
            .activity-color{style: "background-color: #{fact.activity.color}"}
              = "?" unless fact.activity.color
            %span{title: fact.activity.id}= fact.activity.name
          %td
            = fact.description
            - fact.tags.each do |tag|
              = link_to tag.name, tag
          %td
            = l(fact.start_time, format: :time_only)
            &minus;
            = l(fact.end_time, format: :time_only) if fact.end_time.present?
          %td
            = fact.duration.join(":")
          %td
            -unless fact.exported?
              = link_to "export", export_fact_path(fact), method: :put, class: 'btn'
              = check_box_tag :export, fact.id, false, data: {role: 'fact-export-checkbox', minutes: fact.duration_in_minutes}
              = link_to "mark as exported", mark_as_exported_fact_path(fact), method: :put
      %tr{data: {day: day}}
        %td{colspan: 6}
          .pull-left
            = render 'grouped_by_activity', facts: facts
          = form_tag batch_export_facts_path, method: :put, id: "batch-export-facts-#{day}", class: "facts-export-form pull-right" do
            = text_field_tag :minutes, 0, disabled: true
            = submit_tag "export", disabled: true, class: 'btn'

.pagination.pagination-centered
  %ul
    %li
      = link_to "<<", week_facts_path(week_nr: @week_nr - 1, year: @year)
    %li
      = link_to @week_nr - 1, week_facts_path(week_nr: @week_nr - 1, year: @year)
    %li.active
      = link_to @week_nr, "#"
    %li
      = link_to @week_nr + 1, week_facts_path(week_nr: @week_nr + 1, year: @year)
    %li
      = link_to ">>", week_facts_path(week_nr: @week_nr + 1, year: @year)


