!!! 5
%html{lang: "en"}
  %head
    %title Frecklinghamster
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
%body
  .container-fluid

    - flash.each do |key, value|
      .alert{class: ("alert-#{key}" if [:error, :success, :info].include?(key))}
        %button{type: "button", class:"close", data: {dismiss: "alert"}} ×
        = value

    = yield